<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="row">
        <div class="col-md-2">
          <div class="well" width="100%">
            <h5>Test Subject ID No.:</h5>
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Demographic Info</h3>
            </div>
            <div id="activity-summary" class="panel-body"></div>
          </div>
        </div>
        <div class="col-md-8" id="mapping">
          <div id="map" style="height: 500px;"></div>
        </div>
        <!-- <div class="col-md-5">
          <div id="gauge"></div>
        </div> -->
    </div>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="../static/js/config.js"></script>
    <script src="../static/js/app.js"></script>
</body>
</html>